@font-face {
    font-family: Roboto-Regular;
    src: url(/free-games/fonts/Roboto-Regular.d0bc87a8.ttf)
}

@font-face {
    font-family: Roboto-Light;
    src: url(/free-games/fonts/Roboto-Light.1ad50b89.ttf)
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/free-games/fonts/Roboto-Bold.c36a3fe0.ttf)
}

* {
    box-sizing: border-box
}

html {
    font-family: Roboto-Regular, sans-serif
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

button {
    cursor: pointer
}

a {
    text-decoration: none
}

.game-filter {
    margin: 0 30px 30px 30px;
    display: flex;
    gap: 8px
}

.app-header {
    background-color: #020120;
    padding: 0 12px 0 0
}

.app-header .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #fff
}

.app-header .logo p {
    padding-top: 3px
}

.app-header .logo img {
    width: 65px;
    height: 65px
}

.home {
    background-color: #020120;
    color: #fff;
    padding: 30px 0 60px 0
}

.home .games {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center
}

.home .games .game {
    background-color: #0d0611;
    transition: transform .2s;
    text-align: center;
    border-radius: 3px
}

.home .games .game:hover {
    transform: scale(1.1)
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020120;
    color: #fff;
    gap: 55px
}

.game-details img {
    height: calc(100vh - 75px);
    width: 40%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 12px;
    border-radius: 3px
}

.game-details .info {
    max-width: 500px
}

.game-details .info h1 {
    font-size: 45px;
    margin-bottom: 15px
}

.game-details .info .description {
    font-size: 18px;
    margin-bottom: 15px
}

.game-details .info .genre {
    margin-bottom: 15px
}

.game-details .info .btns {
    display: flex;
    gap: 12px
}

.game-details .info .btns button {
    width: 120px;
    border: none;
    padding: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #005784;
    transition: .3s;
    font-size: 16px
}

.game-details .info .btns button:hover {
    background-color: #00b5dd
}

.game-details .info .btns a {
    width: 120px;
    border: none;
    padding: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #005784;
    transition: .3s
}

.game-details .info .btns a:hover {
    background-color: #00b5dd
}