* {
    box-sizing: border-box;
}

html {
    font-family: Roboto-Regular, sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}